
body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

h4 {
  color: hsl(25, 97%, 53%);
  font-size: 1rem;
  background-color: hsl(213, 19%, 25%);
  margin: 0 90px 30px 90px;
  border-radius: 10px;
  padding: 2px;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 1rem;
}

.svg-icon {
  background-color: hsl(213, 19%, 25%);
   width: 40px;
   height: 40px;
   border-radius: 100%;
   text-align: center;
   padding-top: 8px;
   margin-bottom: 35px;
}

.thank-you-icon {
  padding: 20px 0 40px;
}



.card {
    position: absolute;
    background-color: hsl(213, 19%, 18%);
    text-align: left;
    padding: 40px;
    margin: 8% auto;
    border-radius: 30px;
    width: 450px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;
}

.card-t {
  text-align: center;
  display: none;
}


.rating {
  width: 50px;
  height: 50px;
  font-style: 'Overpass', sans-serif;
  background-color: hsl(213, 19%, 25%);
  color: hsl(217, 12%, 63%);
}

.rating:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.rating:focus {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.submit {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

@media (max-width: 479px) {

  .card {
      position: absolute;
      background-color: hsl(213, 19%, 18%);
      text-align: left;
      padding: 20px 20px;
      margin: 2% auto;
      width: 300px;
      border-radius: 30px;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 50%;
  }

 .rating {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  font-style: 'Overpass', sans-serif;
  background-color: hsl(213, 19%, 25%);
  color: hsl(217, 12%, 63%);
}



  .card-t {
    text-align: center;
    display: none;
  }

  h4 {
    color: hsl(25, 97%, 53%);
    font-size: 1rem;
    background-color: hsl(213, 19%, 25%);
    margin: 0 30px 30px 30px;
    border-radius: 10px;
    padding: 2px;
  }

}
